---
import { formatDate } from "@/lib/util";

const { post } = Astro.props;
---

<li class="flex flex-col text-center no-underline">
  <a href={`/blog/${post.slug}`}>
    <span
      class="flex flex-wrap justify-center text-balance text-2xl font-medium"
      >{post.data.title}</span
    >
    <div
      class="mt-1 text-sm text-lightModeForegroundMuted dark:text-darkModeForegroundMuted"
    >
      {formatDate(post.data.publicationDate)}
    </div>
  </a>
</li>
